/*自定义导航栏的颜色*/
nav.navbar {
    /*background: transparent !important;*/
    color: white!important;
}

/*文章详情*/
.blog_content{
    min-height: 27rem;
    padding: 0;
}
.blog_markdown{
    padding: 0;
}
.sort_content{
    margin-top: 2rem;
}

/*日志相关*/
.blog_tags > a{
    background-color: rgba(212,212,212,0.8);
    padding: 0.25rem;
    border-radius: 0.2rem;
}
.blog_about_item{
    height: 5rem;
}
.blog_about_item > a{
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(212,212,212,0.8);
    border-radius: 0.2rem;
}
.blog_about_item_up{
    height: 80%;
    width: 100%;
    display: block;
    line-height: 4rem;
    text-align: center;
}
.blog_about_item_down{
    height: 20%;
    width: 100%;
    display: block;
    line-height: 1rem;
    font-size: 0.5rem;
    text-align: right;
}
.music_myself{
    position: fixed;
    top: 9rem;
    right: 1rem;
}

body{
    background: url("../img/cover2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 55%;
}
.body_cover{
    background-color: rgba(255,255,255,0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
}