nav.navbar {
    background: rgba(91, 192, 222,1) !important;
    color: white!important;
}
.crumbs_content{
    margin-top: 3rem;
}
.card_background{
    background-size: cover;
    background-position: center;
    padding: 0;
}
.card_content,.card_content:hover{
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    padding: 1.25rem;
}
.card_content{
    font-size: smaller;
    opacity: 0;
}
.card_content:hover{
    font-size: 1rem;
    background-color: rgba(91, 192, 222,0.9);
    opacity: 1;
}
.card_content_title{
    position: absolute;
    bottom: 3rem;
}