/*自定义导航栏的颜色*/
nav.navbar {
    /*background: rgba(91, 192, 222,1) !important;*/
    color: white!important;
}

.sort_content{
    margin-top: 2rem;
}

/*文章详情*/
.labtop_content{
    min-height: 31rem;
    padding: 0;
}

.music_myself{
    position: fixed;
    top: 8rem;
    right: 1rem;
}

body{
    background: url("../img/cover5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-position: center 55%;*/
    background-size: cover;
}
.body_cover{
    background-color: rgba(255,255,255,0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
}
